*{
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    position: relative;
}

header {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.messages {
    margin: 0 auto;
    max-width: 800px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.ad {
    display: flex;
    justify-content: space-between;
}

main form{
    width: 350px;
    position: fixed;
    bottom: 0;
    left: 40%;
}

main form > *{
    display: block;
    width: 100%;
}


